<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - EmployeeManager [API-Client]</title>

	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<h1>Employee Manager [API-Client]</h1>
	<div>@RenderBody()</div>
	<br />
	<hr />
	@if (User.Identity.IsAuthenticated)
	{
		<h2>You are signed in as @User.Identity.Name</h2>
		<form asp-controller="Security" asp-action="SignOut" method="post">
			<button type="submit">Sign Out</button>
		</form>
	}
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>